{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Sorry!</title>
    </head>
  
    <body>
        <div style=margin-left:5px><h1>Sorry... Looking for the correct answer is taking too long... </h1></div>
         <div style=margin-bottom:5px;margin-left:5px><h1>Please refresh the page!</h1></div>
    </body>
</html>
